[Unit]
Description=Open Falcon Graph Service

[Service]
ExecStart=/data/open-falcon/graph/bin/falcon-graph -c /data/open-falcon/graph/config/cfg.json
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=falcon-graph
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target

